# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Test coverage
.coverage
htmlcov/

# Distribution
dist/
build/
*.egg-info/
*.html
